[user]
    name = Yilin Fang
    email = qzfyl98@outlook.com

[alias]
    a = add
    c = checkout
    m = merge
    aa = add -A
    cb = checkout -b
    ci = commit
    cm = commit -m
    st = status
    pl = pull
    ph = push

[core]
    pager = delta -ns

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = zdiff3
