[user]
	name = Yilin Fang
	email = qzfyl98@outlook.com
[alias]
	a = add
	c = checkout
	m = merge
	aa = add -A
	cb = checkout -b
	ci = commit
	cm = commit -m
	st = status
	pl = pull
	ph = push
	dl = -c diff.external=difft log -p --ext-diff
	ds = -c diff.external=difft show --ext-diff
	dft = -c diff.external=difft diff
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
