[submodule "nvim-packages/pack/custom/start/nvim-treesitter"]
	path = nvim-packages/pack/custom/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim-packages/pack/custom/start/vim-sleuth"]
	path = nvim-packages/pack/custom/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
